body{background-color: gray}

.Login {
  background-color: #555555;
  width: 350px;
  margin: 20px auto 10px auto;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 13px -5px rgb(255, 0, 0);
  text-align: center;
}

.Login form {
  margin:auto;
  width:max-content;
}

@keyframes colorout {  
  0% { background-color: rgb(97, 218, 251); }
  50% { background-color: red; }
  100% { background-color: rgb(97, 218, 251); }
}

.logo_signup {
  background-color: black;
  animation: colorout 0.5s ease-in-out infinite;
  position: absolute;
  text-decoration: none;
  font-size: 20px;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
}

.logo_container {
  position: relative;
  text-align: center;
  color: white;
}

.logo {
  display: block;
  width: 100px;
  margin: 20px auto;
}

.Login label{
  color: #ff8800;
  width: max-content;
  border-radius: 50px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  border-left: 3px solid aqua;
  border-bottom: 3px solid aqua;
}

.Login input, select, textarea{
  border-radius: 100px;
  padding: 10px 15px;
  width: 200px;
  text-decoration-color: aqua;
  background-color: #777777;
  border: 1px solid rgb(0, 255, 0);
  outline: none;
  font: 1em sans-serif;
  font-size: 20px;
  display: block;
  margin: 10px auto 20px auto;
}

textarea:focus, input:focus {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  box-shadow: 10px 15px 13px -5px rgb(0, 255, 0);
}

::placeholder {color: white;}

.Login form button{
  border-radius: 100px;
  border-style: solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 10px;
  font: 1em sans-serif;
  font-size: 20;
  color: rgb(0, 0, 0);
  margin-top: 25px;
  box-shadow: 10px 7px 10px -3px rgb(255, 255, 255);
  display: block;
  margin: 15px auto 30px auto;
}

.Login form button:disabled{
  border-radius: 100px;
  border-style: solid #ffffff;
  background-color: #000000;
  box-shadow: 10px 7px 10px -3px rgb(0, 0, 0);
  color: #ffffff;
}

.Button {
  float:none;
  position:static;
  display:block;
  margin:10px;
  width:200px;
}

.fbtn {
  float:none;
  position:static;
  display:block;
  margin:10px;
  width:200px;
  background-color: rgb(200, 200, 200);
  display: inline-flex;
  align-items: center;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  padding: 0px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  text-align: center;
  color: black;
  opacity: 0.9;
}

.fbtn:hover {background-color: rgb(210, 210, 210);}